body {
  background: #f3f2f7;
  margin: 0;
  font-family: Rubik, sans-serif;
}

button,
input,
textarea {
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-family: Rubik, sans-serif;
  letter-spacing: -0.02em;
  line-height: 1;
}

h4,
h5 {
  text-transform: uppercase;
  color: #3e3d43;
  margin: 5px 0;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #4c60e6;
}

a:hover {
  text-decoration: underline;
}
